---
layout: default
--- 
<div class="container mt-6">
  <div class="columns">
    <div class="column is-3">
      <nav class="panel">        
          <p class="panel-heading"><span class="panel-icon"><i class="fas fa-bars"></i></span></p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
{% for category in site.categories offset:1 %}
 {% capture category_name %}{{ category | first }}{% endcapture %}
<div class="panel-block">
  <a class="has-text-black-ter heading is-uppercase has-text-weight-bold" href="{{ site.baseurl }}{{ site.categories[category_name].url }}">{{ category_name }}</a>
</div>

{% for post in site.categories[category_name] %}
  <div class="panel-block ml-2">
     <a class="heading is-uppercase " href="{{ site.baseurl }}{{ post.url }}"> {{post.title}}</a>
  </div>
{% endfor %}
{% endfor %}
</nav>
  </div>
  <div class="column">
      {% for post in site.posts limit:3 %}
      <div class="span4">
        <a href="{{ BASE_PATH }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
      <hr />
      <p>{% if post.thumbnail %}
      <img src="{{ post.thumbnail }}" style="height: 280px" align="center" />
      {% else %}
      <img src="/images/nothumbnail.jpg"
      style="height: 280px" align="center" />
      {% endif %}</p>
      <p>&nbsp;</p>
      <p>
      {{ post.content | strip_html | truncatewords:20 }}
      </p>
      <p>
      <a class="btn" href="{{ BASE_PATH }}{{ post.url }}">Read more...</a>
      </p>
      </div>
      {% endfor %}  
  </div>
 </div>
</div>

