---
layout: default
--- 
<div class="container mt-6">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
{% for category in site.categories offset:1 %}
 {% capture category_name %}{{ category | first }}{% endcapture %}
<p class="menu-label">
  <a class="has-text-weight-bold" href="{{ site.baseurl }}{{ site.categories[category_name].url }}">{{ category_name }}</a>
</p>
<ul class="menu-list">
  {% for post in site.categories[category_name] %}
  <li class="">
     <a class="" href="{{ site.baseurl }}{{ post.url }}"> {{post.title}}</a>
  </li>
{% endfor %}
</ul>

{% endfor %}
</aside>
    </div>

  <div class="column">
    {% for post in site.posts limit:15 %}
    <article class="media card">
      <figure class="media-left">
        <p class="image is-128x128">
          {% if post.thumbnail %}
          <img class="image is-128x128" src="{{ post.thumbnail }}"/>
          {% endif %}
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a class="heading title is-3" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}  
              {% for tag in post.tags %}
              <span class="heading is-italic is-6" >{{ tag }}</span>
              {% endfor %}
            </a>            
            <br>
            {{ post.content | strip_html | truncatewords:20 }}
          </p>
        </div>
      </div>
    </article>
      {% endfor %}  
  </div>
 </div>
</div>

